
name: Post Coverage Commit

on:
  workflow_run:
    workflows: ["Pytest"]
    types:
      - completed

jobs:
  coverage:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.event == "pull_request" && github.event.workflow_run.conclusion == "success"
    permissions:
      pull-requests: write
      contents: write
      actions: read
    steps:
    - name: Python Coverage Comment
      uses: py-cov-action/python-coverage-comment-action@7188638f871f721a365d644f505d1ff3df20d683
      with:
        GITHUB_TOKEN: ${{ github.token }}
        GITHUB_PR_RUN_ID: ${{ github.event.workflow_run.id }}
