name: Pyright

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  pyright:
    permissions:
      contents: read

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install hatch
        hatch env create dev
    - run: echo "$(hatch env find dev)/bin" >> $GITHUB_PATH
    - name: Run pyright
      uses: jakebailey/pyright-action@8ec14b5cfe41f26e5f41686a31eb6012758217ef
