name: Ruff

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  ruff:
    permissions:
      contents: read

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install hatch hatch-pip-compile
        hatch env create dev
    - name: Lint with Ruff (check)
      run: |
        hatch run dev:ruff check --output-format=github .
    - name: Register problem matcher for ruff format
      run: echo "::add-matcher::.github/workflows/matchers/ruff.json"
    - name: Lint with Ruff (format)
      run: |
        hatch run dev:ruff format --check .
